section[data-testid="stSidebar"] div.stButton button {
    background-color: whitesmoke;
    width: auto; 
    justify-content: left;
}

section[data-testid="stSidebar"] .stButton > button:first-of-type:hover {
    background-color: white;
}

section[data-testid="stSidebar"] .stButton > button:last-child {
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.stTextInput>div>div>input {
    font-family: 'Garamond', serif;
    color: #4A90E2; 
}

.stFileUploader>div>div>label {
    font-family: 'Garamond', serif; 
    color: #4A90E2;
}

div[data-testid="stSelectbox"] .css-1tr0i5s-container {
    font-size: 100px;
}
